<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title %></title>
  <!--<link href="reset.css" rel="stylesheet" type="text/css">
  <link href="style_test.css" rel="stylesheet" type="text/css">-->
  <link rel="shortcut icon" href="../favicon.ico"> 
  <link rel="stylesheet" type="text/css" href="css/default.css" />
  <link rel="stylesheet" type="text/css" href="css/component.css" />
  <script src="js/modernizr.custom.js"></script>
</head>
<div class="top">
    	<div class="top-text">
    		<p><font size=4.5><%= @year_number %></font></p>
    	</div>
</div>
<header>
  <hgroup>
    <!--<h1><%= @year_number %></h1>
    <h2><%= @second_title%></h2>
    ><div id="topnav" style="clear:both;width:700px;height:25px;">
      <div style="float:left;width:400px;word-spacing:0px;font-size:90%;padding-left:15px;padding-top:6px;white-space:nowrap;text-align:center;">
        <a class="topnav" href="/about" target="_top">
          &nbsp;<strong>A</strong>bout Me&nbsp;&nbsp;</a>
        <a class="topnav" href="/goals" target="_top">&nbsp;&nbsp;<strong>G</strong>oals&nbsp;&nbsp; </a>
        <a class="topnav" href="/timeline" target="_top">&nbsp;&nbsp;<strong>T</strong>imeline&nbsp;&nbsp; </a>
        <a class="topnav" href="/works" target="_top">&nbsp;&nbsp;<strong>W</strong>orks&nbsp;&nbsp;</a>
        <a class="topnav" href="/music0" target="_top">&nbsp;&nbsp;<strong>M</strong>usic&nbsp;&nbsp;</a>
        <a class="topnav" href="/guiders" target="_top">&nbsp;&nbsp;<strong>M</strong>entors&nbsp;&nbsp;</a>
        <a class="topnav" href="/contact" target="_top">&nbsp;&nbsp;<strong>C</strong>ontact Me&nbsp;&nbsp; </a>
        <a class="topnav" href="/resume" target="_top"> &nbsp;&nbsp;<strong>M</strong>y Resume &nbsp;&nbsp;</a>
      </div>
    </div>-->
    
    <div class="container">	
			<!-- Codrops top bar -->
			<header class="clearfix">
				<h1><span></span></h1>	
			</header>
			<div class="sidebar">
				<p></p>
				<div class="side">
					<nav class="dr-menu">
						<div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">Jonathan Wu</a></div>
						<ul>
							<li><a class="dr-icon dr-icon-user" href="/about">About Me</a></li>
							<li><a class="dr-icon dr-icon-checklist" href="/goals">Goals</a></li>
							<li><a class="dr-icon dr-icon-calender" href="/timeline">Timeline</a></li>
							<li><a class="dr-icon dr-icon-folder" href="/works">Works</a></li>
							<li><a class="dr-icon dr-icon-music" href="/music0">Music</a></li>
							<li><a class="dr-icon dr-icon-users" href="/guiders">Mentors</a></li>
							<li><a class="dr-icon dr-icon-messages" href="/contact">Contact Me</a></li>
							<li><a class="dr-icon dr-icon-profile" href="/resume">Resume</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div><!-- /container -->
		<script src="js/ytmenu.js"></script>
  </hgroup>
</header>


<div id="main">
  <%= yield %>
</div>

<footer>
 <SPAN style="position:fixed;left:5px;top:800px;">
  <a href="/betatesters">Made by Jonathan Wu Version 1.94</a>
</SPAN>
</footer>
</html>
<!-- Histats.com  START (hidden counter)-->
<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
<a href="http://www.histats.com" target="_blank" title="free invisible hit counter" ><script  type="text/javascript" >
try {Histats.start(1,2044997,4,0,0,0,"");
Histats.track_hits();} catch(err){};
</script></a>
<noscript><a href="http://www.histats.com" target="_blank"><img  src="http://sstatic1.histats.com/0.gif?2044997&101" alt="free invisible hit counter" border="0"></a></noscript>
<!-- Histats.com  END  -->